.container {
  background: #d9c3ad;
  width: 500px;
  height: 200px;

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sleepCard {
  background: #d9c3ad;
  border-radius: 20px;
  padding: 20px;
}

.sleepCard h2 {
  color: #7b5a43;
  font-size: 22px;
}

.sleepCard p {
  color: #7b5a43;
  font-size: 18px;
}

.leesMeer {
  border: none;
  background: none;
  font-style: italic;
  font-size: 20px;
  cursor: pointer;
  color: #6d6d6d;
}

/* popup */

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 320px;
  background: #ece6dd;
  border-radius: 16px;
  overflow: hidden;
}

.popupTop {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;

  border-bottom: 1px solid #d0c5b7;

  color: #8a6649;
  font-style: italic;
}

.closeBtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.popupContent {
  padding: 24px;
  text-align: center;
}

.popupContent p {
  color: #8a6649;
  margin-bottom: 20px;
  line-height: 1.4;
}

.afsluitBtn {
  border: none;
  padding: 12px 28px;
  border-radius: 30px;

  background: #8a6649;
  color: white;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
}
