.streakKaart {
  width: 390px;
  background-color: #d8c2a8;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
}

.streakHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.maan {
  width: 55px;
  height: 55px;
}

.titel {
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 2px 0;
}

.streakInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  flex-wrap: wrap;
}

.dagen {
  font-size: 20px;
  font-weight: bold;
}

.record {
  font-size: 18px;
  color: gray;
}

.containerDagen {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 5px;
}

.Cirkel {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.actief {
  background-color: #8a6543;
  color: white;
}

.onactief {
  background-color: #e9e9e9;
  color: black;
}

.weekdagen p {
  font-size: 14px;
  margin: 0;
  color: black;
  text-align: center;
}
