body {
  margin: 0;
  background: #e6d3bb;
  font-family: sans-serif;
}

.app-container {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 16px;

  background: #f5f1e4;
}
