html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  background: #e5d8c8;
}

.app-container {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;

  margin: 0 auto;

  background: #f5f1e4;
}
