.container {
  display: flex;
  justify-content: center;
  bottom: 0px;
}

.sleepCard {
  background: #ebe4d2;
  border-radius: 25px;

  width: 100%;
  max-width: 390px;

  padding: 22px 32px;
  box-sizing: border-box;
}

.sleepCard h2 {
  color: #7b5a43;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 12px 0;
}

.sleepCard p {
  color: #7b5a43;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.leesMeer {
  border: none;
  background: none;

  padding: 0;
  margin-top: 10px;

  font-style: italic;
  font-size: 16px;

  cursor: pointer;
  color: #c89600;
}

/* popup */

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.popup {
  width: 320px;
  background: #ece6dd;
  border-radius: 16px;
  overflow: hidden;
}

.popupTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 16px;

  border-bottom: 1px solid #d0c5b7;

  color: #8a6649;
  font-style: italic;
}

.closeBtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.popupContent {
  padding: 24px;
  text-align: center;
}

.popupContent p {
  color: #8a6649;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 14px;
}

.afsluitBtn {
  border: none;
  padding: 12px 28px;
  border-radius: 30px;

  background: #8a6649;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}
